### OSX ###
.DS_Store
.AppleDouble
.LSOverride
.vscode*
*.code-workspace

*tags

.qiniu_pythonsdk_hostscache.json
### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json
compose/letsencrypt/etc/*
compose/nginx/dhparams.pem

# Basics
*.py[cod]
__pycache__
*__pycache__*

data
.env
docker-compose.yml
# Logs
pip-log.txt
npm-debug.log*

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# Translations
*.mo
*.pot

# Pycharm
.idea/*


# Vim

*~
*.swp
*.swo

# npm
node_modules/

# Compass
.sass-cache

# virtual environments
.env

# User-uploaded media
ssrd/media/



staticfiles/

.cache/

record.txt
