
# PostgreSQL
POSTGRES_PASSWORD=123456
POSTGRES_USER=postgres

# General settings
# DJANGO_READ_DOT_ENV_FILE=True
USE_DOCKER=yes

DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=XX#{]ZmA$iX:OCXRzy-U1[H_BP+WUz?(1GJQzgp*##6|@^?g,y
DJANGO_ALLOWED_HOSTS=127.0.0.1

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True

# QINIU
QINIU_ACCESS_KEY=NtO1B6ILEpI33oQq1NpiCSAzpgaASsrmmJzNQsNG
QINIU_SECRET_KEY=Z2ztsscMNJZVZiZpDc8UCZnChMR46ncGQpuIrld9
QINIU_BUCKET_NAME=mumumu
QINIU_BUCKET_DOMAIN=otjswwscq.bkt.clouddn.com


EMAIL_HOST=smtp.qq.com
EMAIL_HOST_USER=drinksober@foxmail.com
EMAIL_HOST_PASSWORD=ynsglxrlevvfcafi
EMAIL_PORT=587
SERVER_EMAIL=drinksober@foxmail.com
DEFAULT_FROM_EMAIL=drinksober@foxmail.com
EMAIL_USE_TLS=true
