
MEDIA_ROOT=
# PostgreSQL
POSTGRES_PASSWORD=123456
POSTGRES_USER=postgres
DATABASE_URL=

# General settings
# DJANGO_READ_DOT_ENV_FILE=True
USE_DOCKER=yes

DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=XX#{]ZmA$iX:OCXRzy-U1[H_BP+WUz?(1GJQzgp*##6|@^?g,y
DJANGO_ALLOWED_HOSTS=api.mum5.cn

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True

# QINIU
QINIU_ACCESS_KEY=
QINIU_SECRET_KEY=
QINIU_BUCKET_NAME=
QINIU_BUCKET_DOMAIN=


EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=
SERVER_EMAIL=
DEFAULT_FROM_EMAIL=
EMAIL_USE_TLS=
